*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;

}

body {
    background-color: rgb(114, 96, 105) ;

}

main { 
    background-color: rgb(192, 179, 179);
    width: 800px;
    margin: auto;
    padding: 250px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.411);
}
